{{extend 'layout.html'}}
<h1>Latest Questions</h1>
{{if len(images):}}
<div class="table-responsive">
    <table class="table table-hover">
        <tr><th>Tags</th>
            <th>Description</th>
            <th>Number of Answers</th></tr>
    {{for image in images:}}
    <tr>
        <td>{{for i in image.title:}}
            <span>-{{=i}}-</span>
            {{pass}}
        </td>
        <td>{{=A(image.body,_href=URL("show",args=image.id))}}</td>
        {{if image.no_ans == '0':}}
        <td><div class="alert alert-danger">{{=image.no_ans}}</div></td>
        
        {{else:}}
        <td><div class="alert alert-success">{{=image.no_ans}}</div></td>
        {{pass}}
        
    </tr>
    {{pass}}
    </table>
</div>
        {{=backward}}
        {{=forward}}
        {{=nav}}
{{else:}}
    <h1>No Recipes uploaded yet!!</h1>
{{pass}}
