<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{{extend 'layout.html'}}
<div>
      <style scoped>
     @import url("http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    </style>

<style>
    body
    {
         font-family:Sans-serif;
        background-image:url("{{=URL('static','images/18.jpg')}}");
    }
    html,body
    {
        height:100%;
    }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img
    {
      width: 60%;
      margin: auto;
  }
  </style>

<div class="container" style="width:100%;">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="">
    <!-- Indicators -->
    <ol class="carousel-indicators" style="">
      <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3" ></li>
        <li data-target="#myCarousel" data-slide-to="4" ></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="{{=URL('static','images/1.jpg')}}" alt="1">
        <div class="carousel-caption">
          <h3>{{=A("ASK!",_href=URL("uploadpage"))}}</h3>
          <p>Ask your heart out! You can even be anonymous here. So grab the opportunity!</p>
        </div>
      </div>

      <div class="item">
        <img src="{{=URL('static','images/2.jpg')}}" alt="2">
        <div class="carousel-caption">
          <h3>{{=A("READ!",_href=URL("homepage"))}}</h3>
          <p>Read others' questions and the answers!</p>
        </div>
      </div>
    
      <div class="item">
        <img src="{{=URL('static','images/3.jpg')}}" alt="3">
        <div class="carousel-caption">
          <h3>{{=A("My Questions!",_href=URL("myquestions"))}}</h3>
          <p>Your asked questions!</p>
        </div>
      </div>

      <div class="item">
        <img src="{{=URL('static','images/4.jpg')}}" alt="4">
        <div class="carousel-caption">
          <h3>{{=A("Favourites!",_href=URL("mystarredquestions"))}}</h3>
          <p>Your own favourite questions!</p>
        </div>
      </div>
  <div class="item">
        <img src="{{=URL('static','images/5.jpg')}}" alt="5" >
        <div class="carousel-caption">
          <h3>{{=A("Search",_href=URL("search"))}}</h3>
          <p>Search questions based on the tags,the question and the author!</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
    </div>
