{{extend 'layout.html'}}
<style>
  
  body 
    {

        font-family:Sans-serif;
        background-image:url("{{=URL('static','images/11.jpg')}}");
  }
</style>

{{if len(rows2):}}
<div class="container">
<h4>
    
<ul class="list-group" style="list-style-type:none; color:brown;">
    {{for noti in rows2:}}
    <li class="list-group-item"><span>{{=noti.author}} answered your {{=A("question",_href=URL("show",args=noti.question_id))}}</span><span class="badge" style="float:right">{{=noti.timestamp}}</span></li>
    {{pass}}
    </ul></h4></div>
{{else:}}
<h1 style="color:white">No answers to your questions!</h1>
{{pass}}


{{if len(rows1):}}
<div class="container">
<h4>
    
<ul class="list-group" style="list-style-type:none; color:brown;">
    {{for noti in rows1:}}
    <li class="list-group-item"><span>{{=noti.username}} starred your {{=A("question",_href=URL("show",args=noti.question_id))}}</span><span class="badge" style="float:right">{{=noti.timestamp}}</span></li>
    {{pass}}
    </ul></h4></div>
{{else:}}
<h1 style="color:white">No stars earned!</h1>
{{pass}}
