{{extend 'layout.html'}}
<style>
body
    {
        font-family:Sans-serif;
        color:white;
        background-image:url("{{=URL('static','images/11.jpg')}}");
        margin:0;
     
    }
    .back
    {
        background-image:url("{{=URL('static','images/7.jpg')}}");
        background-size:100%;
    }

</style>
<header class="container-fluid back">
      <div class="jumbotron text-center">
        
        <h1 style="color:black">Ask!</h1>
          
      </div>
    </header>
<br/><br/>
{{=form}}
<br><br><br><br><br><br>
